#header{
    background-color: #ae0000;
    color: aliceblue;
}
#nav{
    text-align: right;
    font-size: 15px;
}
#nav li{
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    list-style: none;
}
.logo{
    vertical-align: middle;
    max-width: 200px;
    max-height: 80px;
    cursor: pointer;
}
.cart{
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    float: right;
}
.search-box{
    width: 320px;
}
.search-box input{
    width: 270px;
    height: 30px;
    border-radius: 5px;
    vertical-align: top;
}
.search-box button{
    height: 30px;
    border-radius: 5px;
    vertical-align: top;
}
.row-item{
    display: inline-block;
    margin: 33px auto;
    height: 30px;
}